{{>menuAdmin}}
<h1>add category</h1>
<form action="/admin/addCategory" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name">
    <input type="file" name="image">
    <button>save</button>
</form>